@model StageApplicatie.Models.Bedrijf

@{
    ViewBag.Title = "MijnBedrijven";
}

<h2>MijnBedrijven</h2>

<fieldset>
    <legend>Bedrijf</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Naam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actief)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actief)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NonActiefReden)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonActiefReden)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BedrijfID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
